@charset "UTF-8";
nav.navbar-light {
  background-color: white;
  color: black;
  box-shadow: black 5px 5px 25px;
}
nav.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}
nav.navbar-light .navbar-nav .nav-link:hover {
  color: #B23A48;
}
nav.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
nav.navbar-light .navbar-toggler {
  padding: 5px 0;
  border: 0;
  font-size: 1.5rem;
}
nav.navbar-light .navbar-toggler:focus {
  outline: none;
}
nav.navbar-light .navbar-brand {
  color: white;
}
nav.navbar-light button.navbar-light-button {
  background-color: black;
  color: white;
  border: 0;
  padding: 5px 15px;
  border-radius: 5px;
}

.home-img {
  width: 100vw;
  height: 200px;
  object-fit: contain;
}
.home-img img {
  max-width: 100vw;
}

.logo {
  width: 200px;
  height: auto;
}

.home-img {
  width: 100%;
  height: 90vh;
}
.home-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cards {
  padding: 25px;
}
.cards__item {
  background-color: white;
  padding: 20px;
  margin: 10px;
  margin-bottom: 50px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards svg {
  height: 100px;
  width: 100px;
  padding: 5px;
  fill: #D4A1CA;
}
@media (min-width: 900px) {
  .cards {
    background-color: #B23A48;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}

footer {
  background-color: white;
  height: 100%;
  box-shadow: black 5px 5px 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
}

footer p {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

hr {
  width: 80%;
}

.footer {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-icon {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}
.sm-icon svg {
  fill: #B43949;
}

.survey-question-one, .survey-question-two {
  text-align: center;
}
.survey-question-one {
  padding-top: 20px;
  padding-bottom: 8px;
  margin: 0;
  font-size: 20px;
}
.survey-question-two {
  font-size: 30px;
}
.survey-item {
  border: 1px solid black;
  padding: 80px;
  margin: 20px;
  border-radius: 5px;
  height: 200px;
}

.avatar-icon{
  height: 250px;
  width: auto;
  margin: 20px;
  border-radius: 100%;
  border: #d4a1c9 6px solid;
}

.account-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.info-container{
  margin: 35px;
}

.info-container ul{
  display: flex;
  list-style: none;
  padding: 0;
}

.work-container p{
  font-size: 1.5rem;
}
.connect-container p{
  font-size: 1.5rem;
}
.work-container h2{
  font-size: 2.5em;
}

.connect-container h2{
  font-size: 2.5em;
}

.work-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b43949;
  height: 250px;
  color: white;
}

.connect-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d4a1c9;
  height: 250px;
  color: black;   
}
.info-container ul li{
  margin: 10px;
  padding: 15px;
  box-shadow: grey 2px 2px 5px;
  background-color: #d4a1c9;
  border-radius: 20px 5px 20px 5px
}

.survey-item:hover {
  transform: scale(1.02);
}
@media (max-width: 900px) {
  .survey-item {
    height: 100px;
  }
}
.survey-item-name {
  text-align: center;
}
@media (min-width: 900px) {
  .survey-items {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}
.survey-button {
  width: 100px;
  margin: 50px auto;
}
.survey-button button {
  background-color: #B23A48;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.success {
  background-color: #D4A1C9;
  border: 0 solid white;
  color: white;
  padding-top: 45px;
}
.success:before {
  content: "✓";
  color: white;
  font-size: 24px;
  font-weight: 800;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: grey 2px 2px 10px;
  padding: 20px;
  border-radius: 20px;
  margin: 230px;
  width: 500px;
  background: white;
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1573495628363-7114730a4a11?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
  background-position: center;
}

.form-control {
  border: 1px solid black !important;
}

.motto{
  width: 100%;
  height: auto;
}


.btn-primary {
  color: #fff;
  background-color: #B23A48 !important;
  border-color: #B23A48 !important;
}

.btn-primary:hover {
  background-color: #B23A48 !important;
  border-color: #B23A48 !important;
}

.project-pfp{
  height:50px;
}


.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 25px;
  flex-wrap: wrap;
  background-color: #d4a1c9;
}

.info-container h1{
  color: #B23A48;
}

.project__item {
  background-color: white;
  margin: 10px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  width: 31.5%;
}

.btn-secondary {
  background-color: #d4a1c9 !important;
  border-color: #d4a1c9 !important;
}

/*# sourceMappingURL=styles.css.map */
