.project-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 25px;
    flex-wrap: wrap;
    background-color: #d4a1c9;
}

.project__item{
    background-color: white;
    margin: 10px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 31.5%;
}

.project-pfp{
    height:50px;
}


.btn-secondary{
    background-color: #d4a1c9 !important;
    border-color: #d4a1c9 !important;
}


.btn-primary {
    color: #fff;
    background-color: #B23A48 !important;
    border-color: #B23A48 !important;
}


.btn-primary:hover {
    background-color: #B23A48 !important;
    border-color: #B23A48 !important;
}