footer {
    background-color: white;
    height: 100%;
    box-shadow: black 5px 5px 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
}

footer p {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

hr{
    width: 80%;
}

.footer{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-icon {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    svg {
        fill: #B43949;
    }
}